.DoctorCard {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    text-align: left;
    /* align-items: center; */
    width: 50%;
    padding: 10px;
    color: black;

}

a:link {
    text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .DoctorCard {
        width: auto;
    }
}
