.UserCard {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    text-align: left;
    color: black;
    text-decoration: none;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .UserCard {
        width: auto;
    }
}


a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}