body {
    background-color: rgb(243, 252, 251);
}

.Homepage-container {
    margin-top: 15%;
    margin-bottom: 3%;
    background-color: rgba(240, 240, 240, 0.5);
    justify-content: center;
    align-items: center;
}

.Homepage-button {
    display: block;
    margin: 3%;
}

.Homepage {
    position: absolute;
    height: auto;
    width: 100%; 
    background-size: cover;
    /* background-position: center center; */
    background-image: url("../assets/Healthcare.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}

.image{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    /* margin-top: 30px; */
}
.mainTiles-homepage {
    padding: 10px;
    margin-top: 20px;
    border-radius: 16px;
    color: aliceblue;
    background-color: rgba(113, 120, 120, 0.689);
}

.a-homepage{
    text-decoration: none;
}

.mainTiles-homepage:hover{
    background-color: black;
}

.loginbtn-homepage{
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 16px;
    color: aliceblue;
    background-color: rgba(95, 96, 96, 0.689);
}

.loginbtn-homepage:hover {
    background-color: black;
    color: aliceblue;
}